.shop-sidebar-list-wrapper {
    .shop-item-thumb {
        padding: 21px;

        .shop-thumb-img img {
            width: 100%;
        }

        .name-prod {
            font-size: 21px;
            padding-top: 20px;
        }
    }
}